{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Content block -->
{% block content %}

<div class="container">
    {{macro.displayArticleList(article)}}
    <!-- <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{article.image}}) no-repeat center center">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 article-details">
            <h3>{{article.title}}</h3>
            <p>{{article.description}}</p>
            <p>{{article.url}}</p>
            <p>{{article.time}}</p>
        </div>
    </div> -->
</div>

{% endblock %}