{% import 'macros.html' as macro %}
{% extends 'base.html' %}

<!-- Styles block -->
{% block styles %}

    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/index.css')}}">

{% endblock %}

<!-- Content block -->
{% block content %}

<!-- General Sources Section -->
<div class="general">
    <h3>General News</h3>
    <ul>
        {{macro.displaySourceList(general)}}
    </ul>
</div>

<!-- Business Sources Section -->
<div class="business">
    <h3>Business News</h3>
    <ul>
        {{macro.displaySourceList(business)}}
    </ul>
</div>


<!-- Technology Sources Section -->
<div class="technology">
    <h3>Technology News</h3>
    <ul>
        {{macro.displaySourceList(technology)}}
    </ul>
</div>

{% endblock %}
