{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title> {{title}} </title>
    {% else %}
    <title>Get all the news you need</title>
    {% endif %}
</head>
<body>
    <!-- News Sources Section -->
    <h3>News Sources</h3>
    <ul>
        {{macro.displaySourceList(source)}}
    </ul>
</body>
</html>